<ion-header>
  <ion-toolbar>
    <ion-title>Note Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <ion-card-title>
        {{title}}
      </ion-card-title>

      <div class="note-date">
        {{date | date: 'dd/MM/yyyy'}}
      </div>
      <hr />
      <div>{{content}}</div>
    </ion-card-content>
  </ion-card>
</ion-content>


<ion-footer>
  <ion-button expand="block" color="danger" (click)="deleteNote()">Delete Note</ion-button>
</ion-footer>